assets
src
test
gulpfile.js
index.html
.DS_Store
CONTRIBUTING.md
webpack.config.js
.prettierrc
.travis.yml
wdio.conf.js
.github/FUNDING.yml
.flowconfig
babel.config.js

# folders
webpack
examples
test