assets
src
test
gulpfile.js
index.html
.DS_Store
CONTRIBUTING.md
webpack.config.js
.prettierrc
.travis.yml
wdio.conf.js
.github/FUNDING.yml
.flowconfig
babel.config.js

webpack
examples

mailgo.firefox.min.js
mailgo.firefox.min.js.map
mailgo.chrome.min.js
mailgo.chrome.min.js.map