@import "mailgo.scss";

$default-color: #4a4a4a;
$gmail-color: #c2564d;
$outlook-color: #3178aa;
$yahoo-color: #6b429b;
$wa-color: #257268;
$telegram-color: #2c789e;
$skype-color: #2e748d;

$default-dark-color: #d1d1d1;

.m-modal-content {
  opacity: 0.95;
  box-shadow: 20px 20px 50px rgba(32, 35, 42, 0.5),
    -30px -30px 60px rgba(32, 35, 42, 0.5);
  a {
    background: #e3e3e3;
    box-shadow: 8px 8px 16px #c1c1c1, -8px -8px 16px #ffffff;
    margin: 10px 0px;
  }
  a.m-by {
    color: #4a4a4a;
  }
}

.m-modal {
  .m-modal-content {
    a.m-gmail,
    a.m-outlook,
    a.m-yahoo,
    a.m-tg,
    a.m-wa,
    a.m-skype,
    a.m-default,
    a.m-copy,
    a.m-by {
      &:hover {
        background: #e3e3e3;
        box-shadow: inset 5px 5px 10px #bababa, inset -5px -5px 10px #ffffff;
      }
      &:focus {
        background: #e3e3e3;
        box-shadow: inset 5px 5px 10px #bababa, inset -5px -5px 10px #ffffff;
      }
      &:active {
        background: #e3e3e3;
        box-shadow: inset 5px 5px 10px #bababa, inset -5px -5px 10px #ffffff;
      }
    }
    background: #e3e3e3;
    opacity: 0.95;
    &:hover,
    &:focus,
    &:active {
      opacity: 0.95;
    }
    a.m-gmail {
      color: $gmail-color;
    }
    a.m-outlook {
      color: $outlook-color;
    }
    a.m-yahoo {
      color: $yahoo-color;
    }
  }

  &.m-dark {
    .m-modal-content {
      strong {
        color: $default-dark-color;
      }
      #m-cc-value,
      #m-bcc-value,
      #m-subject-value,
      #m-body-value {
        color: $default-dark-color;
      }
      a.m-gmail,
      a.m-outlook,
      a.m-yahoo,
      a.m-tg,
      a.m-wa,
      a.m-skype,
      a.m-default,
      a.m-copy,
      a.m-by {
        &:hover {
          background: #20232a;
          box-shadow: inset 5px 5px 10px #15171b, inset -5px -5px 10px #2b2f39;
        }
        &:focus {
          background: #20232a;
          box-shadow: inset 5px 5px 10px #15171b, inset -5px -5px 10px #2b2f39;
        }
        &:active {
          background: #20232a;
          box-shadow: inset 5px 5px 10px #15171b, inset -5px -5px 10px #2b2f39;
        }
      }
      a {
        color: $default-dark-color;
        background: linear-gradient(145deg, #1d2026, #22252d);
        box-shadow: 5px 5px 10px #191b20, -5px -5px 10px #272b34;
      }
    }

    &:not(.m-by) {
      &:hover,
      &:focus,
      &:active {
        background-color: rgba(134, 134, 134, 0.08);
        color: $default-dark-color;
      }
    }
  }
}
