$mailgo-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$default-color: #4a4a4a;
$gmail-color: #d44638;
$outlook-color: #0072c6;

.mailgo-modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  font-size: 15px;
  z-index: 10000;

  p,
  span,
  strong,
  a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1;
    font-family: $mailgo-font-family;
  }

  strong {
    font-weight: 700;
  }

  .mailgo-modal-background {
    position: absolute;
    z-index: 10001;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(32, 35, 42, 0.75);
    opacity: 0.8;
  }

  .mailgo-modal-content {
    position: relative;
    z-index: 10002;
    box-sizing: content-box;
    text-align: center;
    min-width: 200px;
    max-width: 240px;
    background-color: #fff;
    opacity: 0.97;
    border-radius: 5px;
    box-shadow: 0px 3px 8px 0px rgba(32, 35, 42, 0.12);
    color: $default-color;
    display: block;
    overflow: auto;
    padding: 20px;

    &:hover {
      opacity: 1;
      box-shadow: 0px 18px 30px 0px rgba(32, 35, 42, 0.23);
    }

    .mailgo-title {
      display: block;
      margin-bottom: 5px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .mailgo-details {
      margin-bottom: 10px;
    }

    .mailgo-details p {
      font-size: 12px;
      margin-top: 3px;
      margin-bottom: 3px;
    }

    a {
      display: block;
      padding: 10px;
      color: $default-color;
      border-radius: 5px;
      text-decoration: none;

      &.mailgo-gmail {
        color: $gmail-color;
      }

      &.mailgo-outlook {
        color: $outlook-color;
      }

      &.mailgo-copy {
        padding: 16px 10px;
        font-size: 16px;
      }

      &.mailgo-default:hover,
      &.mailgo-copy:hover {
        background-color: rgba(0, 0, 0, 0.08);
        color: $default-color;
      }

      &.mailgo-outlook:hover {
        background-color: rgba(0, 114, 198, 0.08);
        color: $outlook-color;
      }

      &.mailgo-gmail:hover {
        background-color: rgba(212, 70, 56, 0.08);
        color: $gmail-color;
      }

      &.mailgo-by {
        display: block;
        font-size: 8px;
        margin-top: 1rem;
        padding: 0px;
        color: $default-color;
        opacity: 0.5;
      }

      &.mailgo-by:hover {
        opacity: 1;
      }
    }

    .mailgo-weight-500 {
      font-weight: 500;
    }
  }
}
